body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.book-list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: 2px solid black;
  padding: 5px;
  width: 40%;
}

.bookContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  height: 20px;
}

button, #add-book {
  border: 0;
}

.remove {
  width: 80px;
  height: 20px;
}

hr {
  width: 5%;
  margin: 15px;
}

#add-book {
  position: relative;
  left: 155px;
}

#title {
  width: 185px;
}

#author {
  width: 185px;
}
